<p>This is the Create-Sheet Component</p>
<div class="container">

    <dx-select-box placeholder="SelectBox" [items]="races" [(value)]="race" displayExpr="title" valueExpr="race"></dx-select-box>

    <dx-tree-list id="playerClasses" [dataSource]="playerClasses" [showRowLines]="true" [columnAutoWidth]="true" keyExpr="id"
        (onRowInserted)="rowInserted($event)">
        <dxo-editing mode="popup" [allowUpdating]="true" [allowDeleting]="true" [allowAdding]="true">
            <dxo-popup title="Klasseninfo" [showTitle]="true" [width]="700" [position]="{ my: 'top', at: 'top', of: window }">
            </dxo-popup>
        </dxo-editing>

        <dxi-column dataField="class">
            <dxo-lookup [dataSource]="classLookup" displayExpr="title" valueExpr="id"></dxo-lookup>
            <dxi-validation-rule type="required"></dxi-validation-rule>
        </dxi-column>
        <dxi-column dataField="level" caption="Level" dataType="number">
            <dxi-validation-rule type="required"></dxi-validation-rule>
        </dxi-column>
    </dx-tree-list>

    <table>
        <thead>
            <tr>
                <th>Ability Name</th>
                <th>Ability Score</th>
                <th>Race Adjustment</th>
                <th>Ability Modifier</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Strength</td>
                <td><dx-number-box [(value)]="strength.abilityScore" [min]="0" [max]="100" [showSpinButtons]="true" placeholder="Strength Ability Score"></dx-number-box></td>
                <td><dx-number-box [(value)]="race.strengthModifier" [min]="0" [max]="100" [readOnly]="true" placeholder="Strength Race Adjustment"></dx-number-box></td>
                <td><dx-number-box [(value)]="strength.abilityModifier" [min]="0" [max]="100" [readOnly]="true" placeholder="Strength Ability Modifier"></dx-number-box></td>
            </tr>
            <tr>
                <td>Dexterity</td>
                <td><dx-number-box [(value)]="dexterity.abilityScore" [min]="0" [max]="100" [showSpinButtons]="true" placeholder="Dexterity Ability Score"></dx-number-box></td>
                <td><dx-number-box [(value)]="race.dexterityModifier" [min]="0" [max]="100" [readOnly]="true" placeholder="Dexterity Race Adjustment"></dx-number-box></td>
                <td><dx-number-box [(value)]="dexterity.abilityModifier" [min]="0" [max]="100" [readOnly]="true" placeholder="Dexterity Ability Modifier"></dx-number-box></td>
            </tr>
            <tr>
                <td>Constitution</td>
                <td><dx-number-box [(value)]="constitution.abilityScore" [min]="0" [max]="100" [showSpinButtons]="true" placeholder="Constitution Ability Score"></dx-number-box></td>
                <td><dx-number-box [(value)]="race.constitutionModifier" [min]="0" [max]="100" [format]="" [readOnly]="true" placeholder="Constitution Race Adjustment"></dx-number-box></td>
                <td><dx-number-box [(value)]="constitution.abilityModifier" [min]="0" [max]="100" [readOnly]="true" placeholder="Constitution Ability Modifier"></dx-number-box></td>
            </tr>
            <tr>
                <td>Intelligence</td>
                <td><dx-number-box [(value)]="intelligence.abilityScore" [min]="0" [max]="100" [showSpinButtons]="true" placeholder="Intelligence Ability Score"></dx-number-box></td>
                <td><dx-number-box [(value)]="race.intelligenceModifier" [min]="0" [max]="100" [readOnly]="true" placeholder="Intelligence Race Adjustment"></dx-number-box></td>
                <td><dx-number-box [(value)]="intelligence.abilityModifier" [min]="0" [max]="100" [readOnly]="true" placeholder="Intelligence Ability Modifier"></dx-number-box></td>
            </tr>
            <tr>
                <td>Wisdom</td>
                <td><dx-number-box [(value)]="wisdom.abilityScore" [min]="0" [max]="100" [showSpinButtons]="true" placeholder="Wisdom Ability Score"></dx-number-box></td>
                <td><dx-number-box [(value)]="race.wisdomModifier" [min]="0" [max]="100" [readOnly]="true" placeholder="Wisdom Race Adjustment"></dx-number-box></td>
                <td><dx-number-box [(value)]="wisdom.abilityModifier" [min]="0" [max]="100" [readOnly]="true" placeholder="Wisdom Ability Modifier"></dx-number-box></td>
            </tr>
            <tr>
                <td>Charisma</td>
                <td><dx-number-box [(value)]="charisma.abilityScore" [min]="0" [max]="100" [showSpinButtons]="true" placeholder="Charisma Ability Score"></dx-number-box></td>
                <td><dx-number-box [(value)]="race.charismaModifier" [min]="0" [max]="100" [readOnly]="true" placeholder="Charisma Race Adjustment"></dx-number-box></td>
                <td><dx-number-box [(value)]="charisma.abilityModifier" [min]="0" [max]="100" [readOnly]="true" placeholder="Charisma Ability Modifier"></dx-number-box></td>
            </tr>
        </tbody>
    </table>
</div>