<nav class="navbar is-primary">
    <div class="navbar-brand">
        <span>Pathfinder Tools</span>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu">
        <a routerLink="/sheet" routerLinkActive="is-active" class="navbar-item">Character Sheets</a>
        <a routerLink="/sheet/create" routerLinkActive="is-active" class="navbar-item">Create Character Sheet</a>
    </div>
</nav>

<router-outlet></router-outlet>