table {
    width: 100%;
}

th, td {
    padding: 0 3px;
}

#remainingPoints {

}

:host >>> #remainingPoints .dx-texteditor-container {
    overflow: visible;
}

:host >>> #remainingPoints.dx-texteditor.dx-invalid .dx-texteditor-input {
    padding: 7px 9px 8px;
}

:host >>> .dx-invalid.dx-texteditor .dx-texteditor-container:after {
    right: -22px;
}
